@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --backgound: #0e0e12;
    --text-white: #fff;
    --text-dark: rgba(0,0,0,.383);
    --text-gray: #5a5a5a;
    --background-dark: rgba(0,0,0,.383);
    --backgound-white: #fff;
    --font-weight-normal: 100;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--backgound);
    color: var(--text-white);
    font-weight: var(--font-weight-normal);
}

main {
    display: flex;
    flex-direction: column;
    width: 50rem;
    padding-top: 10px;
    gap: 10px;
}

input, 
button {
    border: none;
    outline: none;
    padding: 6px;
}

section {
    background: rgba(255, 255, 255, 0.383);
    padding: 10px;
}

section h3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
